//项目全局scss变量
$base-color: rgb(43, 255, 0);

//左侧菜单宽度
$layout-slider-width: 260px;
$layout-slider-bg: #001529;

$layout-nav-height: 80px;
$layout-nav-bg: linear-gradient(45deg, #ffffff, #fcd3d3);
$layout-content-bg: #ffffff;
$layout-logo-height: 50px;
$font-size-large: 30px;
