//项目全局scss变量
$base-color: rgb(43, 255, 0);

//左侧菜单宽度
$layout-slider-width: 260px;
$layout-slider-bg: #001529;

$layout-nav-height: 50px;
$layout-nav-bg: #a7a7a7;
$layout-content-bg: #f8f8f8;
$layout-logo-height: 50px;
$font-size-large: 30px;
